html {
    background-color:beige;
}


ul {
    display: inline;
    list-style-type: none;
    
    
}

h1 {
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

h6 {
    text-align: center;


}



}
li {
    float: left;
    padding-left: 240px;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    
  }


  img {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }


  table, th, tr, td {
      border: 2px solid black;
  }

  table {
      border-collapse: collapse;
  }


  fieldset {

    color: black;
  }

  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }